/*
    RESET
*/
* { margin: 0; padding: 0; }
body { font: 14px/1.1 Helvetica, Sans-Serif; }
.clear { clear: both; }
img, a img { border: none; }
input { outline: none; }

/*
    STRUCTURE
*/
body { font: 14px/1.1 Helvetica, Sans-Serif; }
#page-wrap { width: 960px; margin: 6px auto 50px; position: relative; }
hr { height: 1px; background: #ccc; clear: both; margin: 20px 0; border: none; display: block; }

/*
    TYPOGRAPHY
*/
a  { text-decoration: none; color: #900; border-bottom: 1px dotted #900; outline: none; }
h1 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; }
h2 { margin: 0 0 10px 0; }
p { margin: 0 0 6px 0; }
.button { background: orange; -moz-border-radius: 5px; padding: 6px 12px; border: none; color: white; cursor: pointer; text-shadow: 0 1px 1px #666; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px #999; -moz-box-shadow: 0 1px 3px #999; font: bold 16px Helvetica; } 
.button:hover { background-position: bottom left; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }

/*
    HEADER
*/
#header { height: 68px; position: relative; }
#control { width: 500px; float: right; padding: 10px 237px 0 0; text-align: right; }

/*
    ALERT
*/
.alert { padding: 20px; width: 400px; border-radius: 5px; }
.alert-danger { background-color: #e33; color: #eee; }
