{% extends "base.html" %}
{% block content %}
<h2>Create account</h2>
<form action="/account/create/submit" method="post" id="account-create-form">
    <div>
        <input type="text" name="username" id="username">
        <label for="username">username</label>
        <input type="password" name="password" id="password">
        <label for="password">password</label>
        <input type="password" name="confirm-password" id="confirm-password">
        <label for="confirm-password">confirm password</label>
        <input type="submit" name="new-account-submit" id="new-account-submit" value="submit" class="button">
    </div>
</form>
{% end %}
{% block scripts %}
<script src="{{ static_url('js/account.js') }}"></script>
{% end %}
