{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ static_url('css/list.css') }}">
{% end %}
{% block content %}
<ul id="list">
{% for item in items %}
    <li class="{{ item['color'] }}">
        <span><input type="hidden" id="edit-item-{{ item['_id'] }}-id" value="{{ item['_id'] }}"><input type="text" id="edit-item-{{ item['_id'] }}-text" name="text" value="{{ item['text'] }}"><a href="#" id="edit-item-{{ item['_id'] }}-submit" class="button edit-button">Edit</a><a href="#" id="delete-item-{{ item['_id'] }}-submit" class="button delete-button">Delete</a></span>
    </li>
{% end %}
</ul>

<form id="add-new">
    <div>
        <input type="text" id="new-list-item-text" name="text">
        <input type="submit" id="new-item-submit" value="Add" class="button">
    </div>
</form>
{% end %}
{% block scripts %}
<script src="{{ static_url('js/list.js') }}"></script>
{% end %}
